html,
body {

  overflow-x: hidden;
  background-image: url(/img/фон.png);
  /* background: -webkit-linear-gradient(179deg, #afeeee, #fb46a1, #ff69b4, #afeeee);
   */
  width: 100%;
  background-color: rgb(230, 228, 228);
  height: 100%;
  padding-top: 40px;

}
.header {
    width: 100%;
    height: 70px;
    left: 0px;
    position: fixed;
    top: -5px;
    z-index: 6;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.header__name {
    color: rgb(200, 199, 199);
    font-size: 35px;
    position: absolute;
    top: 15px;
    font-family: Century Gothic;
    left: 15px;
}
.body__fone {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(228, 228, 228);
    box-shadow: 0 14px 28px rgba(56, 54, 54, 0.25), 0 10px 10px rgba(42, 41, 41, 0.22);
    right: 10px;
    opacity: 50%;
    top: 0px;
  }
.footer {
    background-color: #e9e9e9;
    position: relative;
    width: 100%;
    height: 19%;
    bottom: 0;

    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    flex-grow: 0;
}
.dark__footer {
  background-color: #3d3d3d;
  position: relative;
  width: 100%;
  height: 19%;
  bottom: 0;

  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  flex-grow: 0;
}
.About {
    color: #898989;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    ;
    padding: 20px;
    width: 500px;
    height: 10px;
  }
  
  .contacts {
    color: #898989;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 20px;
    width: 500px;
  }